.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Estilos de pie de paguina*/

body {
  color: #333333;
  font-family: 'Space Mono', monospace;
  /* Fuente tipográfica */

}

.cabecera {
  padding-left: 3em;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

.back-button {
  text-align: left;
  font-size: 16px;
  background-color: #333333;
  color: #FFFFFF;

  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  /* padiding  */

  text-align: center;
  font-size: 12px;
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  margin-top: 2em;

}

.error-message {
  font-size: 20px;
  text-align: left;
  margin-top: 1em
}

.error-title {
  font-size: 45px;
  text-align: left;
  font-weight: bold;
}

.containerImage {
  height: 90vh;
  /* Mantiene la relación con el viewport */

  display: flex;

  justify-content: center;
  align-items: center;
  /* Centra para dejar en medio del contenedor */

}

/* Ajusta el tamaño de la imagen para que no se desborde */
.img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.mirrow {
  display: flex;
  /*Alinea los elementos verticalmente*/
  align-items: center;
  /* Alinea  en el centro */

}

.containerInfor {
  /*Alinea los elementos horizontalmente*/
  display: block;
  text-align: left;
  width: 10wh;
}
